<h1>Form</h1>
<%=form_with model: @album do |form| %>
    <div>
      <%= form.label :Title %><br>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :Description %><br>
      <%= form.text_area :Description %>
    </div>
  <br>
    <div>
      <%= form.submit %><br>
    </div>
  <% end %>
  